<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationRentalForm.js"></script>
        <h2>
            <%= pageTitle %>
        </h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return rentalValidateForm();">
            <input type="hidden" name="_id" value="<%= rent._id %>">

            <label for="rentalClientEmail">E-mail: <% if (formMode!='showDetails' ) { %><abbr title="required"
                        aria-label="required">*</abbr>
                    <% } %></label>
            <select id="rentalClientEmail" name="client_id" required <%=(formMode=='showDetails' ) ? 'disabled' : '' %>
                >
                <option value="" selected>--- Select client ---</option>
                <% for (let i=0; i<allClients.length; i++) { let cnt=allClients[i]; %>
                    <option value="<%= cnt._id %>" label="<%= cnt.email %>" <%=(rent._id &&
                        cnt._id.toString()==rent.client._id.toString()) ? 'selected' : '' %>></option>
                    <% } %>
            </select>
            <span id="errorRentalClientEmail" class="errors-text"></span>

            <% if (formMode=='showDetails' ) { %>
                <label for="rentalClientFirstName">First name:</label>
                <input type="text" name="firstName" id="rentalClientFirstName" value="<%= rent.client.firstName %>"
                    disabled />
                <span></span>

                <label for="rentalClientLastName">Last name:</label>
                <input type="text" name="lastName" id="rentalClientLastName" value="<%= rent.client.lastName %>"
                    disabled />
                <span></span>
                <% } %>

                    <label for="rentalBoat">Boat name: <% if (formMode!='showDetails' ) { %><abbr title="required"
                                aria-label="required">*</abbr>
                            <% } %></label>
                    <select id="rentalBoat" name="boat_id" required <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
                        <option value="" selected>--- Select boat ---</option>
                        <% for (let i=0; i<allBoats.length; i++) { let bt=allBoats[i]; %>
                            <option value="<%= bt._id %>" label="<%= bt.name %>" <%=(rent._id &&
                                bt._id.toString()==rent.boat._id.toString()) ? 'selected' : '' %>></option>
                            <% } %>
                    </select>
                    <span id="errorRentalBoat" class="errors-text"></span>

                    <% if (formMode=='showDetails' ) { %>
                        <label for="rentalBoatSeats">Seats:</label>
                        <input type="number" name="seats" value="<%= rent.boat.seats %>" id="rentalBoatSeats"
                            disabled />
                        <span></span>

                        <label for="rentalBoatSeats">Year:</label>
                        <input type="number" name="year" value="<%= rent.boat.year %>" id="rentalBoatSeats" disabled />
                        <span></span>

                        <label for="totalPrice">Total price:</label>
                        <input type="number" name="totalPrice"
                            value="<%= (rent.dateTo)!=null ? Math.round(rent.boat.price * (Math.abs(rent.dateTo-rent.dateFrom)/3600000)*100)/100 : -1 %>"
                            id="totalPrice" disabled />
                        <span></span>
                        <% } %>

                            <label for="rentalDateFrom">Date from: <% if (formMode!='showDetails' ) { %><abbr
                                        title="required" aria-label="required">*</abbr>
                                    <% } %></label>
                            <input type="datetime-local" name="dateFrom" id="rentalDateFrom"
                                value="<%= (rent.dateFrom)!=null ? rent.dateFrom.toISOString().slice(0,16) : '' %>"
                                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
                            <span id="errorRentalDateFrom" class="errors-text"></span>

                            <label for="rentalDateTo">Date to:</label>
                            <input type="datetime-local" name="dateTo" id="rentalDateTo"
                                value="<%= (rent.dateTo)!=null ? rent.dateTo.toISOString().slice(0,16) : '' %>"
                                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
                            <span id="errorRentalDateTo" class="errors-text"></span>

                            <div class="form-buttons">
                                <p id="errorsSummaryRental" class="errors-text"></p>
                                <% if (formMode !='showDetails' ) { %>
                                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                                    <a class="form-button-cancel" href="/rentals">Cancel</a>

                                    <% } %>
                            </div>

        </form>
        <% if (formMode=='showDetails' ) { %>
            <div>
                <a href="/rentals/edit/<%= rent._id %>" class="button-edit">Edit</a>
                <a href="/rentals" class="button-back">Back</a>
            </div>
            <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>